@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

body {
  font-family: "Calibri";
}
h2, h3 {
  text-transform: uppercase; 
}
h3 {
  margin-top: -10px;
  margin-right: -10px;
  margin-left: -10px;
  margin-bottom: 10px;
  padding: 10px;
  background: rgb(58, 47, 77);
  background: linear-gradient(248deg, rgba(58, 47, 77, 1) 0%, rgba(94, 5, 236, 1) 100%);
  color: white;
}
form {
  padding: 10px;
  width: 370px;
  display: inline-flex;
  flex-direction: column;
}
#result {
	text-transform: uppercase;
	text-align: center;
	font-size: 30px
}
.text-range{
	display: flex;
	align-items: center;
	place-content: center;
	border: 1px solid black;
	height: 100px;
	width: 388px;
}
textarea {
  resize: none;
  height: 50px;
  display: flex;
  
}
.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px dashed gray;
}
#color {
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  margin: 0;
}
#opacity {
  margin-bottom: 30px;
}


